<h1>Update stock</h1>

<%= render "form", item: @item, action: @action %>

<div>
  <%= link_to "Show this item", @item, class:"btn btn-primary m-3" %> |
  <%= link_to "Back to items", items_path, class:"btn btn-secondary m-3" %>
</div>